@model Felipe_Pagliosa_PB.Models.Usuario

@{
    ViewBag.Title = "PerfilUsuario";
}

<h2>Perfil do Usuario</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sobrenome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sobrenome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDeNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDeNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            <img src="\UserImages\@Html.DisplayFor(model => model.Foto)" alt="Sample Photo" width="250" height="250" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preferencia1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preferencia1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preferencia2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preferencia2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preferencia3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preferencia3)
        </dd>
        <dd>
            <button type="button" onclick="location.href='@Url.Action("EditPerfil","Usuario",new { })'">Editar Perfil</button>
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Voltar", "Welcome", "Usuario", new { }, null)
</div>


