@model IEnumerable<Felipe_Pagliosa_PB.Models.Amizade>

@{
    ViewBag.Title = "Amigos";
}

<h2>Amigos</h2>

@if (TempData["alert"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"
                aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <strong>@TempData["alert"]</strong>
    </div>
}
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.NomeUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preferencia1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preferencia2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preferencia3)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.NomeUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preferencia1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preferencia2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preferencia3)
            </td>
            <td>
                <button type="button" onclick="location.href='@Url.Action("ExcluirAmizade","Amizade",new { ido = item.IdUsuarioOrigem, idd=item.IdUsuarioDestino })'">Excluir amizade</button>
                <button type="button" onclick="location.href='@Url.Action("DetalhesAmigo","Usuario",new { ido = item.IdUsuarioOrigem, idd=item.IdUsuarioDestino })'">Detalhes do amigo</button>
            </td>

        </tr>
    }
</table>
<div>
    @Html.ActionLink("Voltar", "Welcome", "Usuario", new { }, null)
</div>

